<!DOCTYPE html>
<html>
    <head>
        <title> DB2016 index </title>
    </head>

    <body>
        <h1> list of queries </h1>

        <form id="main-form" action="http://localhost:9000/queries" method="get">

            <select id="select" name="needed" size="1">
                <option value="a2"> query a - Deliverable 2</option>
                <option value="b2"> query b - Deliverable 2</option>
                <option value="c2"> query c - Deliverable 2</option>
                <option value="d2"> query d - Deliverable 2</option>
                <option value="e2"> query e - Deliverable 2</option>
                <option value="f2"> query f - Deliverable 2</option>
                <option value="g2"> query g - Deliverable 2</option>

                <option value="a3"> query a - Deliverable 3</option>
                <option value="b3"> query b - Deliverable 3</option>
                <option value="c3"> query c - Deliverable 3</option>
                <option value="d3"> query d - Deliverable 3</option>
                <option value="e3"> query e - Deliverable 3</option>
                <option value="f3"> query f - Deliverable 3</option>
                <option value="g3"> query g - Deliverable 3</option>
                <option value="h3"> query h - Deliverable 3</option>
                <option value="i3"> query i - Deliverable 3</option>
                <option value="j3"> query j - Deliverable 3</option>
                <option value="k3"> query k - Deliverable 3</option>
                <option value="l3"> query l - Deliverable 3</option>
                <option value="m3"> query m - Deliverable 3</option>
                <option value="n3"> query n - Deliverable 3</option>
                <option value="o3"> query o - Deliverable 3</option>
            </select>

            <input id="queryParams" type="text" name="queryParams" value=""> <br>

            <input id="querySubmit" type="submit" value="Submit">

        </form>

        <script type="text/javascript">

        var optionsWithInput = ['d3', 'e3']; 

        var showOrHideCustom = function(value) {

            if(optionsWithInput.indexOf(value) > -1) document.getElementById('queryParams').style.display = 'inline';
            else document.getElementById('queryParams').style.display = 'none';
        };

        document.getElementById('select').addEventListener('change', function(e) {

            showOrHideCustom(e.currentTarget.value);
        });
        
                
        showOrHideCustom(document.getElementById('select').value);

        </script>

    </body>
</html>
