<!DOCTYPE html>
<html>
  <head>
    <title> DB2016 index </title>
  </head>

  <body>
    <h1> list of queries </h1>

    <form action ="localhost:9000/queries" method="get">

    <select name="needed" size="1">
      <option value="a2"> query a - Deliverable 2
      <option value="b2"> query b - Deliverable 2
      <option value="c2"> query c - Deliverable 2
      <option value="d2"> query d - Deliverable 2
      <option value="e2"> query e - Deliverable 2
      <option value="f2"> query f - Deliverable 2
      <option value="g2"> query g - Deliverable 2

      <option value="a3"> query a - Deliverable 3
      <option value="b3"> query b - Deliverable 3
      <option value="c3"> query c - Deliverable 3
      <option value="d3"> query d - Deliverable 3
      <option value="e3"> query e - Deliverable 3
      <option value="f3"> query f - Deliverable 3
      <option value="g3"> query g - Deliverable 3
      <option value="h3"> query h - Deliverable 3
      <option value="i3"> query i - Deliverable 3
      <option value="j3"> query j - Deliverable 3
      <option value="k3"> query k - Deliverable 3
      <option value="l3"> query l - Deliverable 3
      <option value="m3"> query m - Deliverable 3
      <option value="n3"> query n - Deliverable 3
      <option value="o3"> query o - Deliverable 3
    </select>


    <button type="submit"> Submit </button>

    </form>


  </body>
</html>
